{% extends 'layout.njk' %}

{% block head %}
    <title>Teachers</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section 
        class="avatar"
        style="background:url({{teacher.avatar_url}}) no-repeat center center/cover" >
        </section>
        <section class="details">
            <div class="head">
                <h3>Detalhes</h3>
                <a href="/teachers">Voltar</a>
            </div>

            <div class="item">
                <div>Nome</div>
                <div>{{teacher.name}}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{teacher.age}}</div>
            </div>
            <div class="item">
                <div>Grau de escolaridade</div>
                <div>{{teacher.graduation}}</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>{{teacher.type}}</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for subject in teacher.subjects %}
                        <span>{{subject}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>
            <section class="options">
                <div class="option">
                    <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>
                </div>
                <div class="option">
                    <form id="form-delete" action="/teachers?_method=DELETE" method="post">
                        
                        <input type="hidden" name="id" value="{{teacher.id}}">
                        <button type="submit">Deletar</button>
                        
                    </form>

                    {% include 'teachers/confirm.njk' %}
                </div>
        </section>
    </div>
{% endblock content %}
